<div ng-controller="RegistrationController as reg">
    <fieldset>
        <form name='regForm' novalidate>
            <input type="text" name="menuNumber" placeholder="Fill your favorite menu number"
                   ng-model="reg.user.menuNumber"
                   required
            >
            <span ng-if="regForm.menuNumber.$error.required && regForm.menuNumber.$touched">
            Menu number is required
            </span>
            <br>
            <br>

            <button
                    ng-disabled="regForm.$invalid"
                    ng-click="reg.submit()">Submit
            </button>
        </form>
    </fieldset>

    <div ng-if='reg.isMenuNotExist'>
        <strong>No such menu number exists</strong>
    </div>

    <div ng-if='reg.isSaved'>
        <strong>Your information has been saved</strong>
    </div>


</div>